.App {
  color: #c7c5c5;
}

.App footer {
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
  margin-top: 10px;
  text-align: center;
}

.container {
  width: 600px;
}

h1 {
  text-align: center;
  margin-right: 295px;
  
}
