.unit {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: -30px;
  left: 10px;
  display: inline-block;
}

.Temp {
  font-size: 55px;
  margin-left: 10px;
  display: inline-block;
  font-style: bolder;
  font-family: sans-serif;
}

.float-left {
  float: left;
}

.TempUnits {
  margin-left: 20px;
}
