.Weather Enter {
  border-color: #969696;
  margin: 6px;
  border-radius: 4px;
}

.Weather input {
  margin: 0px 20px 10px 0px;
}
.Weather {
  color: #969696;
  border: 2px solid #dad9d9;
  border-radius: 10px;
  width: 450px;
  padding: 15px;
}
.WeatherDetails h2 {
  margin: 10px 0px 0px 0px;
}

.WeatherDetails ul {
  list-style-type: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

.WeatherDetails canvas {
  display: inline-block;
  margin: 15px 10px 0px 0px;
}

.WeatherDetails {
  width: 350px;
}

.float-right {
  float: right;
}


