.Enter {
  border-color: #aaaaaa;
  margin: 6px;
  border-radius: 5px;
  font-family: sans-serif;
}
.btn-btn-primary {
  background-color: #ffb319;
  border: none;
  border-radius: 4px;
  color: white;
  text-decoration: bolder;
  font-family: sans-serif;
  font-size: 1rem;
}

.Weather input {
  margin: 10px 0px 20px 20px;
}

.Weather {
  border: 3px solid #dad9d9;
  border-radius: 20px;
  width: 600px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #e8f6ef;
}

.row {
  background: #e8f6ef;
  border-radius: 10px;
}

.WeatherDetails {
  max-width: 400px;
  margin-left: 20px;
  color: #7f2bff;
}

.WeatherDetails ul {
  list-style-type: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

.WeatherDetails canvas {
  display: inline-block;
  margin: 15px 10px 0px 0px;
}

.float-right {
  float: right;
}

.today {
  font-size: 1.4rem;
  text-decoration: bold;
}

h2 {
  max-width: 600px;
  text-decoration: bolder;
}

.description {
  font-size: 1.1rem;
  text-decoration: bolder;
  text-align: right;
}

.WeatherForecast-day {
  color: #7f2bff;
}
