.Enter {
  border-color: #aaaaaa;
  margin: 6px;
  border-radius: 5px;
}
.btn-btn-primary {
  background-color: #7e2aff;
  border: none;
  border-radius: 4px;
  padding: 20px, 20px, 20px, 20px;
}

.Weather input {
  margin: 10px 0px 20px 20px;
}

.Weather {
  border: 2px solid #dad9d9;
  border-radius: 10px;
  width: 600px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  background: #ffc700;
  border-radius: 10px;
}

.WeatherDetails {
  max-width: 400px;
  margin-left: 20px;
  color: #7e2aff;
}

h2 {
  margin: 10px 0px 0px 0px;
}

.WeatherDetails ul {
  list-style-type: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

.WeatherDetails canvas {
  display: inline-block;
  margin: 15px 10px 0px 0px;
}

.float-right {
  float: right;
}
