.WeatherForecast {
  margin-left: 20px;
  text-align: center;
  max-width: 600px;
}

.WeatherForecast-temperature-min {
  margin-left: 5px;
  color: #878787;
  font-size: 15px;
  margin-top: 10px;
}
.WeatherForecast-temperature-max {
  font-weight: bold;
  font-size: 15px;
  margin-left: 5px;
  margin-top: 10px;
  color: #878787;
}

.WeatherForecast-col-2 {
  width: 20px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.WeatherForecast-day {
  font-size: 25px;
  margin-bottom: 15px;
}
